@charset "UTF-8";
*{
    margin:0px ;
    padding: 0px;
}

body{
    background-color: rgb(176, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, #A2E8DD, #6FD1C5);
    text-align: center;
    line-height: 40px;
    padding: 15px;
    color: white;
}
nav{ background-color: #6FD1C5;
    padding: 6px;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}
nav a{
    text-decoration: none;
    color: white;
    padding: 6px;
}
nav > a:hover {
    background-color: #7ff2e5;
}
main{
    background-color: white;
    text-align: center;
    max-width: 1100px ;
    margin: auto;
    padding: 18px;
    line-height: 26px;
}
main p{
text-align: left;
margin-bottom: 16px;
text-indent: 18px;
}
main h2{
    border-left: 4px  solid #A2E8DD;
    padding-left: 12px;
    text-align: left;
}
h2{
    margin-top: 16px;
}
.Bizu{
    border-left: 4px solid #A2E8DD;
    background-color: #a2e8de47;
    border-radius: 5px;
    padding: 19px;
    margin-bottom: 20px;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.159);


    text-align: left;
    
}
.Bizu p {
    text-align: justify;
}
#exemplo{
    border-left: 4px solid #DDA448;
    background-color: #dda44858;
    border-radius: 5px;
    padding: 19px;
    margin: 2px;
    text-align: left;
}
img{
    width: 100%;
    display: block;
    border-radius: 5px;
    margin: auto;
}
footer{
    text-align: center;
    padding: 18px;
}
